<div class="container" style="margin-top:111px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="color-background">
                <h3 style="font-size:46px;padding-top:24px;text-align:center;margin-top:0px;
  margin-bottom:-15px;">
                  HELLO</h3>
                <br>

                <p style="font-size:19px;text-align:center;">Sign in to start your fight</p>
                <br>
            </div>

            <form style="background:white;margin-top:17px">
                <div class="form-group">
                    <label for="exampleInputEmail1">User name</label>
                    <input class="form-control" placeholder="User name" type="text">
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">__Login__</button>
            </form>
        </div>
    </div>
</div>
