/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-wysihtml5
 */
@import "bootstrap-sass-official/assets/stylesheets/bootstrap-sprockets";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";


.color-background, .panel-default > .panel-heading  {
    background-color:#d2d6de
}
.navbar-default {
    background-color:#3C8DBC
}
.navbar-default .navbar-brand {
    color:#fff;
    font-size:28px;
    background-color:#244561
}
.navbar-default .navbar-brand:hover {
    background-color:#244561;
    color:#fff
}
.navbar-default .navbar-nav > li > a {
    color:#FFF
}
.navbar-default .navbar-nav > li > a:hover {
    background:rgba(0,0,0,0.1);
    color:#f6f6f6
}
.btn {
    border-radius:0
}
.form-control {
    border-radius:0
}
.navbar-default .navbar-nav > li > .team-name {
    margin-left:23px;
    font-size:20px
}
.navbar-default .navbar-nav > li > .team-name:hover {
    cursor:default;
    background-color:#3C8DBC
}
.problem-list {
    margin:5px 0 4px;
    line-height:30px
}
.score-table-header{
    width:70px;
    text-align:center
}
